span[data-tag="RTL"] { /*hide the actual #RTL tag */
    display: none;
}

/*.RTL_tag .roam-body,
.RTL_tag .roam-app,
.RTL_tag .roam-sidebar-container {
    right: -232px;
  } */

.RTL_tag .roam-body-main,
.RTL_tag .flex-h-box {
    direction: rtl;
}

/* .RTL_tag .roam-sidebar-container {
    direction: rtl;
} */

.RTL_tag .flex-v-box {
    margin-left: 0px !important;
    margin-right: 20px;
}

.RTL_tag .scrollbar {
    margin-left: 0px;
    margin-right: 30px;
    float: right;
}

/*.RTL_tag #home .icons,
.RTL_tag .bp3-icon-large:hover {
    margin-left: 0px;
    margin-right: 60px;
}*/

/*.RTL_tag #landing-page #cover #tag-line ul {
    margin-right: 32px;
    margin-left: 16px;
}*/

/*.RTL_tag #landing-page #cover #endorsement {
    margin: 80px 20px 20px;
}*/

/*.RTL_tag #landing-page #features ul {
    padding-left: 0px;
    padding-right: 16px;
}*/

.RTL_tag .rm-emoji-block-view {
    margin-left: 0px;
    margin-right: 40px;
}

.RTL_tag @media (max-width: 500px) {
    .bp3-omnibar {
        max-width: 310px;
        right: calc((100vw - 310px) / 2);
    }
}

/*.RTL_tag .roam-topbar {
    padding-left: 16px;
    padding-right: 16px;
}*/

.RTL_tag .check-container {
    padding-left: 0px;
    padding-right: 12px;
}

/* Create a custom checkbox */
.RTL_tag .checkmark {
    right: 0;
}

.RTL_tag .rm-title-display {
    direction: rtl;
}

/* Style the checkmark/indicator */
.RTL_tag .check-container,
.RTL_tag .checkmark:after {
    right: 3.5px;
}

.RTL_tag .rm-find-or-create-wrapper,
.RTL_tag .rm-menu-item,
.RTL_tag .rm-search-list-item {
    margin-left: 0px;
    margin-right: -20px;
}

.RTL_tag .rm-pages-sort-menu-item {
    padding-left: 16px;
    padding-right: 16px;
}

.RTL_tag .rm-histogram-table {
    margin-right: -8px;
}

.RTL_tag #right-sidebar .roam-bullet-closed {
    background-color: #a7b6c2;
}

/*.RTL_tag #mobile-capture li div {
    margin-left: 0px;
    margin-right: 12px;
}*/

.RTL_tag .edited-by-view {
    margin-left: 0px;
    margin-right: 0px;
}

.RTL_tag .block-bullet-view {
    margin-left: 0px;
    margin-right: 5px;
}

.RTL_tag .block-border-left {
    border-left: 0px;
    border-right: 1px solid #bfccd6;
    /* #bfccd6;*/
}

.RTL_tag .text-align-left {
    text-align: right;
}

.RTL_tag .text-align-right {
    text-align: right;
}

.RTL_tag .controls {
    padding-left: 0px;
    padding-right: 4px;
}

.RTL_tag .version-bullet {
    margin-left: 0px;
    margin-right: 0px;
}

.RTL_tag .dnd-separator,
.RTL_tag .dnd-drop-bar {
    right: 20px;
}

.RTL_tag .tags-input {
    text-align: right;
}

.RTL_tag .tags-output {
    margin-left: 0px;
    margin-right: 4px;
}

.RTL_tag .tags-output-item2 {
    margin-left: 0px;
    margin-right: 6px;
}
